.prose.svelte-19timx1 code{font-family:SF Mono,Monaco,Inconsolata,Roboto Mono,monospace;font-size:.9em;background-color:#eef2ffb3;color:#4338ca;padding:.1em .3em;border-radius:4px;font-weight:500;vertical-align:middle}
