nav.svelte-1xjztm0::-webkit-scrollbar{width:4px;height:4px}nav.svelte-1xjztm0::-webkit-scrollbar-thumb{background:transparent;border-radius:4px}nav.svelte-1xjztm0:hover::-webkit-scrollbar-thumb{background:#e5e7eb}
